h2, h3 {
    font-size: 14px;
}
#checkout {
    width: 988px;
    border: 1px solid #ddd;
}
#checkout .mt {
    height: 40px;
    background-color: #f7f7f7;
    line-height: 40px;
}
.mt, .smt {
    cursor: default;
}
.m, .mt, .mc, .mb, .sm, .smt, .smc, .smb {
    overflow: hidden;
    zoom: 1;
}
#checkout .mt h2 {
    font-size: 16px;
    color:#333;
    padding-left: 10px;
}
.mt h2, .smt h3 {
    font-family: "microsoft yahei";
}


/*收货地址---Begin
=============================================================================*/
.checkout-steps .step {
    border-top: 1px solid #ddd;
}
.checkout-steps .step-current {
    width: 984px;
    margin: -1px;
    border: 3px solid #f60;
    position: relative;
}
.checkout-steps .step-title {
    height: 45px;
    padding: 0 20px;
    line-height: 45px;
    position: relative;
}

.checkout-steps .step-complete .step-title strong {
    color: #000;

    font-size: 14px;
}
.checkout-steps .step-action {
    padding-left: 10px;
    color: #005ea7;
    font-size: 12px;
    font-weight: 400;
}
.checkout-steps .step-action a, .checkout-steps .step-action a:visited, .checkout-steps .step-action a:hover {
    color: #005ea7;
}
/*收货内容*/
#checkout .step-complete .sbox-wrap {
    padding: 0 44px;
}
#checkout .sbox {
    padding: 0px 0 20px;
}
.sbox {
    width: 900px;
    overflow: hidden;
}
#checkout .s-content p {
    line-height: 22px;
}
/*收货地址编辑状态
==========================*/
#checkout .step-complete .sbox-wrap {
    padding: 0 44px;
}
#consignee .item, #part-invoice .item {
    height: 28px;
    margin-bottom: 5px;
    overflow: hidden;
    zoom: 1;
    line-height: 28px;
}
#consignee .item-selected, #part-invoice .item-selected {
    background-color: #fff4d3;
}

/*新增收货地址*/
#consignee .list, .invoice-form .list {
    padding: 5px 0;
    overflow: hidden;
}
#consignee .message, .invoice-form .message {
    border: 1px solid #db9a9a;
    padding: 4px 0;
    background-color: #ffe8e8;
}

#consignee .list .label, .invoice-form .list .label {
    width: 85px;
    height: 26px;
    margin-right: 5px;
    float: left;
    color: #666;
    line-height: 26px;
    text-align: right;
}
#consignee .list .field {
    height: 26px;
    float: left;
    line-height: 26px;
}
#consignee .list .label em, .invoice-form .list .label em {
    margin-right: 5px;
    color: #f60;
    font-family: sans-serif;
}
#consignee .form .form-tip {
    padding-left: 10px;
    float: left;
}
em {
    font-style: normal;
}
#consignee .textbox, .invoice-form .textbox {
    width: 138px;
    height: 16px;
    border: 1px solid #ccc;
    padding: 4px 3px;
    font-family: Arial,"\5b8b\4f53",sans-serif;
}
#consignee .full-address .textbox, .invoice-form .full-address .textbox {
    width: 308px;
}
#consignee .phone, .invoice-form .phone {
    float: left;
}
#consignee .phone em, .invoice-form .phone em {
    padding: 0 20px 0 5px;
    color: #999;
}
#consignee .phone span, #consignee .phone em, .invoice-form .phone span, .invoice-form .phone em {
    float: left;
}
.form label, .form input, .form select, .form textarea, .form button, .form .label {
    float: left;
    font-size: 12px;
}
.loading-1, .checkout-state {
    height: 28px;
    border: 1px solid #edd28b;
    padding: 0 10px;
    float: left;
    line-height: 28px;
}
.loading-2, .checkout-state {
    height: 30px;
    border: 1px solid #edd28b;
    padding: 0 10px;
    margin-top: 10px;
    float: left;
    line-height: 30px;
}
.loading-1 b, .checkout-state b {
    margin-right: 5px;
}
.loading, .checkout-state {
    background: #fff;
}
#consignee .item label b {
    font-weight: normal;
}
#consignee .item-selected label b {
    font-weight: bold;
}
#consignee .message .error, .invoice-form .error {
    height: 26px;
    padding-left: 6px;
    float: left;
    color: #c00;
    line-height: 26px;
}
#consignee .item .hookbox, #part-invoice .item .hookbox {
    margin: 7px 5px 0 8px;
}


.common-button .button {
    border: 1px solid #eee;
    background: #fff;
    padding: 5px 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #333;
    font-size: 15px;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
}
.common-button .button:hover {
    border: 1px solid #ccc;
    display: block;
    overflow: hidden;
    position: relative;
    background: #a1a3a6;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background: -webkit-linear-gradient(top, #fff, #eee);
    background: -moz-linear-gradient(top, #fff, #eee);
    background: -ms-linear-gradient(top, #fff, #eee);
    background: -o-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff 0%, #eee 100%);
    color: #222;
}

.common-button .savebutton{
    text-align: center;
    width: 106px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #D53F44;
    background: #CA181F;
    color: #fff;
    font-weight: bold;
    font-family: "microsoft yahei";
}
.common-button .savebutton:hover{
    border: 1px solid #D53F44;
    background: #E01C24;
    color: #fff;
    font-weight: bold;
}

/*支付方式--Begin
=============================================================================*/
#checkout .step-complete .sbox-wrap {
    padding: 0 44px;
}
#payment-ship .payment {
    padding-bottom: 10px;
}
#payment-ship h3, #payment-ship .way-category h4, .step-stitle strong {
    border-bottom: 0px;
}
#payment-ship h3 {
    height: 30px;
    border-bottom: 1px dashed #ffe6bc;
    line-height: 30px;
}
#shipment h3 small{
    font-size: 12px;
    color: #999;
    font-weight: 600;
    padding: 0 5px;
}
#payment-ship .mc {
    overflow: visible;
}
#payment-ship .item {
    overflow: hidden;
    zoom: 1;
    line-height: 28px;
}
#payment-ship .item .label {
    width: 250px;
    float: left;
}
#payment-ship .item .hookbox {
    margin: 7px 5px 0 8px;
}
#payment-ship .item .field {
    float: left;
    max-width: 680px;
    _width: 680px;
}
#payment-ship .item .tip {
    padding: 0 5px 0 0;
    color: #999;
    background: none;
    border: none;
    position: static;
    z-index: inherit;
    box-shadow: 0;
}
#payment-ship .item-selected {
    background-color: #fff4d3;
}
.express-form{
    margin-top: 10px;
}
.express-form .list {
    padding: 2px 0;
    overflow: hidden;
    zoom: 1;
    line-height: 24px;
}
.express-form .label {
    width: 120px;
    margin-right: 5px;
    line-height: 24px;
    text-align: right;
}
.express-form .field {
    float: left;
}
.express-form .payment-type ul {
    list-style: none;
    float: left;
}
.express-form .payment-type li {
    padding-right: 12px;
    float: left;
    overflow: hidden;
    zoom: 1;
    line-height: 26px;
}
.express-form .hookbox {
    margin: 6px 5px 0 8px;
}
#payment-ship .payment-selected, #payment-ship .way-list .way-item {
    line-height: 22px;
}


/*商品清单--Begin
=============================================================================*/
#checkout a.return-edit {
    float: right;
    font-size: 12px;
    font-weight: 400;
    padding-right: 24px;
    text-decoration: bottom;
}
.checkout-steps .step-current .step-title strong, .checkout-steps .step-complete .step-title strong {
    color: #000;
}
#checkout #orderList {
    width: 900px;
    margin: 0 auto;
    border: 0px solid #a1a3a6;
}
#orderList table{
    border-collapse: collapse;
    border-spacing: 0px;
}
#orderList table thead{
    background-color: #edd28b;    
}
#orderList table th{
    border: 0px;
    height:34px;
    line-height: 34px;
    text-align: center;
}
#orderList table td{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px dashed #ddd;
    line-height: 52px;
}
#orderList table .pTitle{
    width: 50%;
}
#orderList table .p-goods {
    overflow: hidden;
    zoom: 1;
}
#orderList table .p-img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border: 1px solid #ddd;
    padding: 0;
    float: left;
    overflow: hidden;
}
#orderList table .p-img a:link, #orderList table .p-img a:visited {
    text-decoration: none;
}
#orderList table .p-name a, #orderList table .p-name a:visited, #order-cart .p-name a:hover {
    color: #005ea7;
}
#orderList table .p-detail {
    float: left;
    line-height: 16px;
}
#orderList table .p-name {
    height: 32px;
    overflow: hidden;
    zoom: 1;
}
#orderList table .p-more{
    color: #999;
    line-height: 20px;
}
#orderList table .p-name, #orderList table .p-detail {
    word-break: break-all;
    word-wrap: break-word;
}
.p-img, .p-name, .p-price, .p-market, .p-detail {
    overflow: hidden;
}
#orderList table td.shopInfo{
    text-align: left;
    height: 34px;
    line-height: 34px;
    border-top: 1px dashed  #ccc;
    border-bottom: 1px dashed #ddd;
    padding-left: 8px;
    background-color: #eeefff;
    padding-top: 0;
    padding-bottom: 0px;
}
#orderList table td.shopInfo .shopName {
    text-align: left;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}
#orderList table td.shopInfo .shopActive, #orderList table td.shopInfo .shopFreight {
    color: #3e8f3e;
}
#orderList table td.shopInfo span {
    float: left;
    padding-right: 10px;
}
#orderList table td.pTitle{
    text-align: left;
}
#orderList table td.pPrice{
    text-align: right;
    padding-right: 75px;
    font-weight: bold;
}

/*Table tfoot*/
#orderList table tfoot td{
    border-bottom: 0;
}
#orderList table tfoot .summary-form {
    overflow: hidden;
}
#orderList table tfoot .summary-form .item {
    height: 28px;
    overflow: hidden;
    zoom: 1;
    line-height: 28px;
}
#orderList table tfoot .hookbox {
    margin: 7px 5px 0 8px;
}
#orderList table tfoot label, #orderList table tfoot input {
    float: left;
}

#orderList table tfoot .statistic {
    width: 300px;
}
#orderList table tfoot .statistic .list {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    zoom: 1;
}
#orderList table tfoot .statistic span {
    width: 180px;
    margin-right: 20px;
    float: left;
    text-align: right;
}
#orderList table tfoot .statistic em {
    color: #e4393c;
}
#orderList table tfoot .statistic .price {
    color: #333333;
    float: left;
    width: 100px;
    text-align: right;
}

/*提交 begin*/
.checkout-buttons {
    width: 988px;
    height: 50px;
    background-color: #f5f5f5;
    position: relative;
    line-height: 50px;
}
.group {
    zoom: 1;
}
.checkout-buttons .inner {
    padding-right: 18px;
    float: right;
    line-height: 50px;
}
.checkout-buttons .total {
    padding-right: 18px;
    float: left;
    line-height: 50px;
    font-size: 14px;
    font-weight: 700;
}
.checkout-buttons .total strong {
    color: #e4393c;
    font-size: 20px;
    vertical-align: bottom;
    font-weight: normal;
}

.checkout-buttons .checkout-submit {
    /* background-color: #e00; */
    width: 100px;
    position: relative;
    overflow: hidden;
    margin-top: 4px;
    text-align: center;
}

.checkout-buttons .checkout-submit span {
    color: #fff;
    font-weight:bold;
    font-size: 18px;
    font-family: "microsoft yahei";
}

.submit-check-info {
    color: #FF6600;
    height: 30px;
    line-height: 30px;
    top: -30px;
    padding: 0 3px;
    position: absolute;
    right: 20px;
    background-color: #FFFDEE;
    border: 1px solid #EDD28B;
}

.submit-error {
    position: absolute;
    right: 20px;
    top: -22px;
    background: #FFE8E8;
    color: #CC0000;
    border: 1px solid #DB9A9A;
    height: 20px;
    line-height: 20px;
    padding: 0 3px;
}